* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

html {
    font-size: 1.5em;
    font-family: 'Lobster', cursive;
    color: #2C4251;
    background-color: #9BC59D;
  }

.header-logo {
  padding-top: 5%;
  padding-bottom: 5%;
  padding-right: 5%;
  }

.header-logo > img {
  width: 100%;
}

.header-images {
  background-color: #C0FDFB;
  display: flex;
  justify-content: space-around;
}

.header-images > picture {
  display: flex;
}

nav {
  background-color: #9BC59D;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  padding-left: 50px;
}

li > a {
  text-decoration: none;
}

/* dropdown menu styling */
.menu-container {
  background-color: #9BC59D;
  padding: 0 1rem;
  display: grid;
  place-items: center;
  color: #2C4251;
}

.menu-container li {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
}

.dropdown__menu {
  grid-auto-flow: column;
}

.dropdown__menu li {
  margin: 0 0.5rem;
}

.dropdown__title {
  background-color: transparent;
  border: none;
  font-family: inherit;
  color: #2C4251;
  font-size: 1.125rem;
}

.dropdown__title a {
  text-decoration: none;
  text-align: center;
  display: inline-block;
  font-size: 1.125rem;
  padding: 1rem 0.5rem;
  display: inline-flex;
  align-items: center;
}

.dropdown {
  position: relative;
}

.dropdown__menu {
  background-color: #9BC59D;
  border-radius: 4px;
  box-shadow: 0 0.15em 0.25em rgba(black, 0.25);
  padding: 0.5em 0;
  min-width: 9ch;
  position: absolute;
  top: calc(100% - 0.25rem);
  left: 50%;
  transform: translateX(-50%);
  transform: rotateX(-90deg) translateX(-50%);
  transform-origin: top center;
  opacity: 0.3;
  transition: 280ms all 120ms ease-out;
}

.dropdown__menu a {
  display: block;
  padding: 0.5em;
}

/* .dropdown .ally-focus-within:focus .dropdown__menu */

.dropdown:hover .dropdown__menu, .dropdown:focus-within .dropdown__menu {
  opacity: 1;
  transform: rotateX(0) translateX(-50%);
  visibility: visible;
}

.dropdown__title:after {
  content: "";
  border: 0.35rem solid transparent;
  border-top-color: rgba(blue, 0.45);
  margin-left: 0.25em;
  transform: translateY(0.15em);
}
/* dropdown menu styling */

.social-media, .footer-social-media {
  display: flex;
  justify-content: space-around;
  padding: 10px 10px;
}

.fb, .insta, .ravelry, .twitter, .footer-ravelry, .footer-linkedin {
  display: flex;
  padding: 10px 10px;
}

.footer-ravelry, .footer-linkedin {
  margin-left: 10%;
  margin-right: 10%;
}

.social-media {
  background-color: #9BC59D;
}

.footer-social-media {
  background-color: #9BC59D;
}

main {
    background-color: #C0FDFB;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 25px;
 }

h3 {
  text-align: center;
}

.mixed-gallery, .cosplay, .fiber-arts {
  padding: 10px;
  padding-left: 0px;
  padding-right: 0px;
}

.mixed-pics {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  align-items: center;
  justify-content: space-evenly;
}

.mixed-pics img {
  display: flex;
  margin-top: 50px;
  width: 50%;
}

h2 {
  font-size: 2em;
  padding: 20px 20px;
}

p {
  padding: 20px 20px;
}

.cosplay-pics {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  align-items: center;
  justify-content: space-evenly;
}

.cosplay-pics img {
  display: flex;
  margin: 20px 20px;
  width: 50%;
}

.fiber-pics {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  align-items: center;
  justify-content: space-evenly;
}

.fiber-pics img {
  display: flex;
  margin: 20px 20px;
  width: 50%;
}

footer {
  display: flex;
  background-color: #9BC59D;
  justify-content: space-evenly;
}

footer p {
  font-size: .5em;
  color: #2C4251;
}

a:link, a:active, a:visited {
  color: #2C4251;
}

a:hover, a:focus {
  color: #D16666;
}

.medium-widget {
  width: 50%;
  margin: auto;
}

.coding-aside {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.projectDivs {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.knitworthyDiv {
  background-color: #F29A92;
  width: 50%;
  height: 50%;
  padding: 2%;
  border-radius: 8px;
}

.bujoDiv {
  background-color: #40798C;
  width: 50%;
  height: 30%;
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 10px;
  border-radius: 8px;
}

.GachaGif {
  width: 200px;
}

@media only screen and (min-width: 401px) and (max-width: 960px) {
  .mixed-pics {
    flex-direction: column;
  }

  .cosplay-pics {
    flex-direction: column;
  }

  .fiber-pics {
    flex-direction: column;
  }

  .dropdown-menu, .dropdown, #menu-container {
    margin-right: 10%;
  }

  .mixed-gallery, .cosplay, .fiber-arts {
    padding: 30px;
  }

}


@media only screen and (min-width: 961px) {
  .header-logo {
    padding-right: 10%;
  }
  
  .mixed-pics {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .cosplay-pics {
    flex-direction: row;
  }

  .fiber-pics {
    flex-direction: row;
  }

  footer p {
    font-size: 1em;
  }

  .dropdown {
    width: 200px;
  }

  .dropdown-menu {
    left: 75px;
  }

  .dropdown-menu, .dropdown, #menu-container {
    margin-right: 10%;
  }

  .mixed-gallery, .cosplay, .fiber-arts {
    padding: 50px;
  }

  .dropdown__menu {
    min-width: 15ch;
  }
}

.portfolio {
  background: #227C9D;
}

.redirect {
  margin: 100px;
}

/* add responsive font size */