* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

html {
    font-size: 1.5em;
    font-family: 'Lobster', cursive;
    color: #2C4251;
    background-color: #9BC59D;
  }

.header-logo {
  padding-top: 5%;
  padding-bottom: 5%;
  padding-right: 5%;
  }

.header-logo > img {
  width: 100%;
}

.header-images {
  background-color: #C0FDFB;
  display: flex;
  justify-content: space-around;
}

.header-images > picture {
  display: flex;
}

nav {
  background-color: #9BC59D;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  padding-left: 50px;
}

.menu-container {
  background-color: #9BC59D;
  display: flex;
  align-items: center;
  padding: 10px 10px;
}

li > a {
  text-decoration: none;
}

.dropdown {
display: flex;
width: 100px;
position: relative;
justify-content: flex-end;
}

.dropdown-menu {
  display: flex;
  flex-direction: column;
  background: #9BC59D;
  border-radius: 5px;
  padding-top: 60px;
  z-index: 1;
  display: none;

  position: absolute;   
    top: -10px;
}

.dropdown-menu li {
  list-style: none;
  padding: 0 20px 10px 20px;
  margin: 10px;
}

.dropdown-menu li:last-of-type {
  border-bottom: none;
}

.dropdown > span {
  z-index: 2;
  position: relative;
  padding-right: 50px;
}

.dropdown:hover .dropdown-menu { 
  display: flex;
  flex-direction: column;
  background: #9BC59D;
  z-index: 1;
}

.social-media, .footer-social-media {
  display: flex;
  justify-content: space-around;
  padding: 10px 10px;
}

.fb, .insta, .ravelry, .twitter, .footer-ravelry, .footer-linkedin {
  display: flex;
  padding: 10px 10px;
}

.footer-ravelry, .footer-linkedin {
  margin-left: 10%;
  margin-right: 10%;
}

.social-media {
  background-color: #9BC59D;
}

.footer-social-media {
  background-color: #9BC59D;
}

main {
    background-color: #C0FDFB;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 25px;
 }

h3 {
  text-align: center;
}

.mixed-gallery, .cosplay, .fiber-arts {
  padding: 10px;
  padding-left: 0px;
  padding-right: 0px;
}

.mixed-pics {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  align-items: center;
  justify-content: space-evenly;
}

.mixed-pics img {
  display: flex;
  margin-top: 50px;
  width: 50%;
}

h2 {
  font-size: 2em;
  padding: 20px 20px;
}

p {
  padding: 20px 20px;
}

.cosplay-pics {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  align-items: center;
  justify-content: space-evenly;
}

.cosplay-pics img {
  display: flex;
  margin: 20px 20px;
  width: 50%;
}

.fiber-pics {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  align-items: center;
  justify-content: space-evenly;
}

.fiber-pics img {
  display: flex;
  margin: 20px 20px;
  width: 50%;
}

footer {
  display: flex;
  background-color: #9BC59D;
  justify-content: space-evenly;
}

footer p {
  font-size: .5em;
  color: #2C4251;
}

a:link, a:active, a:visited {
  color: #2C4251;
}

a:hover, a:focus {
  color: #D16666;
}

.medium-widget {
  width: 50%;
  margin: auto;
}

@media only screen and (min-width: 401px) and (max-width: 960px) {
  .mixed-pics {
    flex-direction: column;
  }

  .cosplay-pics {
    flex-direction: column;
  }

  .fiber-pics {
    flex-direction: column;
  }

  .dropdown-menu, .dropdown, .menu-container {
    margin-right: 10%;
  }

  .mixed-gallery, .cosplay, .fiber-arts {
    padding: 30px;
  }

}


@media only screen and (min-width: 961px) {
  .header-logo {
    padding-right: 10%;
  }
  
  .mixed-pics {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .cosplay-pics {
    flex-direction: row;
  }

  .fiber-pics {
    flex-direction: row;
  }

  footer p {
    font-size: 1em;
  }

  .dropdown {
    width: 200px;
  }

  .dropdown-menu {
    left: 75px;
  }

  .dropdown-menu, .dropdown, .menu-container {
    margin-right: 10%;
  }

  .mixed-gallery, .cosplay, .fiber-arts {
    padding: 50px;
  }
}

/* add responsive font size */