* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

html {
    font-size: 20px;
    font-family: 'Lobster', cursive;
    color: #2C4251;
    background-color: #FEE9E1;
  }

.header-logo {
  padding-top: 5%;
  padding-bottom: 5%;
  padding-right: 5%;
  }

.header-images {
  background-color: #C0FDFB;
  display: flex;
  justify-content: space-around;
}

.header-images > picture {
  display: flex;
  align-items: space-around;
}

nav {
  background-color: #D16666;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  padding-left: 50px;
}

.menu-container {
  background-color: #D16666;
  display: flex;
  align-items: center;
  padding: 10px 10px;
}


.dropdown {
display: flex;
width: 200px;
position: relative;
}

.dropdown-menu {
  display: flex;
  flex-direction: column;
  background: #D16666;
  border-radius: 5px;
  padding-top: 60px;
  z-index: 1;
  display: none;

  position: absolute;   
    top: -10px;
    left: -20px;
}

.dropdown-menu li {
  list-style: none;
  padding: 0 20px 10px 20px;
  margin: 10px;
}

.dropdown-menu li:last-of-type {
  border-bottom: none;
}

.dropdown > span {
  z-index: 2;
  position: relative;
}

.dropdown:hover .dropdown-menu { 
  display: flex;
  flex-direction: column;
  background: #D16666;
  z-index: 1;
}

a:link, a:visited, a:active {
  text-decoration: none;
  color: #2C4251;
}

.social-media, .footer-social-media {
  display: flex;
  justify-content: space-around;
  padding: 10px 10px;
}

.fb, .insta, .ravelry, .footer-ravelry, .footer-linkedin {
  display: flex;
  padding: 10px 10px;
}

.footer-ravelry, .footer-linkedin {
  margin-left: 10%;
  margin-right: 10%;
}

.social-media {
  background-color: #D16666;
}

.footer-social-media {
  background-color: #C0FDFB;
}

main {
    background-color: #9BC59D;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 25px;
 }

a:hover {
  color: #C0FDFB;
}

footer a:hover {
  color: #9BC59D;
}

.mixed-gallery {
  display: flex;
}

.mixed-pics {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  align-items: center;
  justify-content: space-evenly;
}

.mixed-pics img {
  display: flex;
  margin: 20px 20px;
  width: 300px;
}

h2 {
  font-size: 40px;
  padding: 20px 20px;
}

p {
  padding: 20px 20px;
}

aside {
    background-color: #D16666;
}

.cosplay {
  display: flex;
}

.cosplay-pics {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  align-items: center;
  justify-content: space-evenly;
}

.cosplay-pics img {
  display: flex;
  margin: 20px 20px;
  width: 250px;
}

.fiber-arts {
  display: flex;
}

.fiber-pics {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  align-items: center;
  justify-content: space-evenly;
}

.fiber-pics img {
  display: flex;
  margin: 20px 20px;
  width: 250px;
}

footer {
  display: flex;
  background-color: #C0FDFB;
  justify-content: space-evenly;
}

@media only screen and (min-width: 401px) and (max-width: 960px) {
  .mixed-pics {
    flex-direction: column;
  }

  .cosplay-pics {
    flex-direction: column;
  }

  .fiber-pics {
    flex-direction: column;
  }
}


@media only screen and (min-width: 961px) {
  .header-logo {
    padding-right: 10%;
  }
  
  .mixed-pics {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .cosplay-pics {
    flex-direction: row;
  }

  .fiber-pics {
    flex-direction: row;
  }
}

/* add responsive font size */